<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-10">
    <aside class="items-center grid-flow-col flex text-info">
        <p class="mr-5">Claudia Suarez © 2024</p>
        <div class="avatar">
            <div class="w-24 rounded-full">
              <img src="img/alien.jpg" alt="Alien Creature"/>
            </div>
          </div>
      <p class="ml-5">csuarez-socorro@myseneca.ca</p>
    </aside> 
</footer>