<p class="text-primary m-10 text-lg">The narrative of the story is told by an elderly man, recounting the 
    events of the encounter that occurred when he was a child. He shares the story with his granddaughter, 
    who has been taught about the event in school. As described by the narrator, <span class="italic">"I 
        don't know why this isn't taught in our schools. I used to page through my children's history books, 
        and it took me a long time to stop being surprised it wasn't there"</span>(<a href="/references" class="link link-info">Rickert, 2020</a>). This statement emphasizes how 
        over time, important details were overlooked, and the story was perceived differently.</p>

<p class="text-primary m-10 text-lg">Through the elderly narrator, we learn about the events of that day and 
    how he perceives the continued celebration of Alien Fest as a positive sign, symbolizing the town's 
    ongoing anticipation for the aliens' return. He views it as a celebration of a perfect and enjoyable 
    moment from his childhood. However, through his granddaughter Tess, we see how the newer generations 
    perceive the event differently. They focus on the mistakes made by humans and express guilt over 
    celebrating in ways that may have been hurtful to the aliens.</p>

<p class="text-primary m-10 text-lg">In the story Tess express <span class="italic">“I don't want to eat its 
    finger”</span>(<a href="/references" class="link link-info">Rickert, 2020</a>), as way of expressing her discomfort with the way they acted. Tess's reluctance to 
    participate in the festival and her refusal to consume food shaped like the aliens' body parts indicate 
    a generational shift in attitudes towards the event. There is a sense of blame passed down through 
    generations, with the newer generation holding the older generation responsible for the aliens' 
    departure due to their fear and prejudice. The narrator's words, <span class="italic">"What's so mean about thinking that 
    maybe they might come back, and wouldn't they be just so pleased to see how we haven't forgotten them? 
    That's why we have this festival. Look around you, child, try to understand. This world is made for 
    monsters"</span>(<a href="/references" class="link link-info">Rickert, 2020</a>), highlight the differing perspectives of both generations.</p>

<p class="text-primary m-10 text-lg">Despite the narrator's apparent desire for the aliens to return and his 
    reminiscence of playing and interacting with them, he still refers to them as "monsters." He also 
    dismisses Amy's advocacy for interstellar equality as "radicalized agenda" and "nonsense," 
    indicating his reluctance to fully embrace the idea of welcoming the aliens. This suggests a lingering 
    sense of fear and mistrust towards the unknown, even among those who have experienced firsthand 
    interactions with the aliens.</p>


<div class="flex flex-col w-full justify-center lg:flex-row">
    <div class="grid flex-grow card rounded-box place-items-center"><p class="text-primary mr-10 ml-10 text-lg">The story concludes with Tess crying, 
        indicating her sensitivity to the wrongs and offensive acts committed by humans during the encounter. 
        She realizes that the aliens are unlikely to return, since her grandfather, who even treated them 
        kindly, still regards them as monsters. This ending underscores the complex and nuanced emotions 
        surrounding the encounter and its aftermath.</p></div>
    <div class="grid flex-grow card rounded-box place-items-center ml-10 mr-16 lg:ml-px">
            <div class="card card-compact w-96 bg-base-100 shadow-xl">
              <figure><img src="/img/grandfather_girl.jpg" alt="Little girl crying" /></figure>
              <div class="card-body text-center">
                <p class="text-secondary text-xl">
                  <span class="font-semibold text-accent">Caption:</span> "Tess, deeply affected by her grandfather's words."
                </p>
              </div>
            </div>
    </div> 
  </div>
