<p class="text-primary m-10 text-lg"><span class="italic">"When the spaceship landed..."</span> serves as the compelling opening phrase of Mary 
    Rickert's short story <span class="italic">"This World Is Made for Monsters"</span> 
    (<a href="/references" class="link link-info">Rickert, 2020</a>). 
    This succinct expression immediately establishes the central event around which the narrative revolves: 
    the arrival of extraterrestrial visitors."</p>

    <div class="flex justify-center">
        <div class="card card-compact w-5/6 bg-base-100 shadow-xl">
          <figure><img src="/img/landing_horse.jpg" alt="Spacechip Surreal" /></figure>
          <div class="card-body text-center">
            <p class="text-secondary text-xl">
              <span class="font-semibold text-accent">Caption:</span> "The moment of arrival: A spaceship descends onto the Beltens' field."
            </p>
          </div>
        </div>
      </div>
      
      <p class="text-primary m-10 text-lg">The story begins by depicting the confusion and panic among the residents 
        of the small town as they realize what is happening. Husbands scramble to secure and protect their 
        families and homes from the unknown, while mothers frantically chase after their children in an 
        effort to keep them safe. However, the children, untouched by fear or prejudice, are instead filled 
        with amazement and curiosity as they race toward the landing site. As the story states, 
        <span class="italic">"This was how it came to be that the children were there first, standing at the 
            edge of the Beltens' field"</span> (<a href="/references" class="link link-info"> Rickert, 2020</a>). 
            It is no surprise that it is not long before Angus the dog and little Amy, the purest and most innocent 
            beings in the vicinity, approach and welcome the visitors. Thus, the festival begins, as Amy takes one 
            of the small aliens by the hand and leads them to her house.</p>
            
            <p class="text-primary m-10 text-lg">As the townsfolk gather for what becomes the first annual Alien Fest, celebrating the encounter, 
            tensions rise when a misunderstanding leads to a tragic incident involving one of the locals and 
            the aliens. The story explores themes of acceptance, fear, and the complexities of human nature 
            in the face of the unknown. </p>
            
            <p class="text-primary m-10 text-lg">As tensions between humans and aliens reach their peak with Mr. Belten pointing his rifle at 
            them, the story states, <span class="italic">"Some grownups exhorted Mr. Belten to put the rifle down while others 
            cheered him on"</span> (<a href="/references" class="link link-info">Rickert, 2020</a>). This quote illustrates the divisive impact of fear and 
            prejudice, resulting in conflict and division within the community. It serves as a clear 
            reflection of both themes present in the story: <a href="/xenophobia" class="link link-info">xenophobia</a>, or fear and prejudice towards 
            the aliens, and <a href="/xenophilia" class="link link-info">xenophilia</a>, or acceptance and openness towards them.</p>
