<ol class="space-y-5 text-secondary m-10">
    <li class="dark:text-dark-6 flex text-base">
       <span
          class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
          >
       <span
          class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
          ></span>
       1
       </span>
            Rickert, M. (2020). <a href="https://link.gale.com/apps/doc/A635347255/LitRC?u=king56371&sid=summon&xid=0a1bac2a"
            class="link link-info italic"> This World Is Made for Monsters </a>. In Fantasy & science fiction 
            (Vol. 139, Issues 3–4, pp. 220–225). Spilogale, Inc.
    </li>
</ol>

<hr class="fade" />
<h1 class="text-secondary text-2xl text-center">Images</h1>
<hr class="fade" />

<ol class="space-y-5 text-secondary m-10">
    <li class="dark:text-dark-6 flex text-base">
       <span
          class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
          >
       <span
          class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
          ></span>
       1
       </span>
       Kellepics (2020, April 9). <span class="italic"> Spacechip Surreal</span> [Digital image]. Pixabay. URL: <a href="https://pixabay.com/photos/fantasy-ufo-spaceship-surreal-5025727/" class="link link-info"> https://pixabay.com/photos/fantasy-ufo-spaceship-surreal-5025727/</a>
    </li>
    <li class="text-body-color dark:text-dark-6 flex text-base">
       <span
          class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
          >
       <span
          class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
          ></span>
       2
       </span>
       StanislavKondrashov (2024, April 1). <span class="italic">Alien Creature</span> [Digital image]. Pixabay. URL: <a href="https://pixabay.com/illustrations/alien-extraterrestrial-creature-8670306/ " class="link link-info"> https://pixabay.com/illustrations/alien-extraterrestrial-creature-8670306/ </a>
    </li>
    <li class="text-body-color dark:text-dark-6 flex text-base">
       <span
          class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
          >
       <span
          class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
          ></span>
       3
       </span>
       OpenAI. (2024, April 12).<span class="italic"></span> Aliens appearance[Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
    </li>
    <li class="text-body-color dark:text-dark-6 flex text-base">
       <span
          class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
          >
       <span
          class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
          ></span>
       4
       </span>
       OpenAI. (2024, April 12). <span class="italic"></span> Aliens with dog [Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
    </li>
    <li class="text-body-color dark:text-dark-6 flex text-base">
      <span
         class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
         >
      <span
         class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
         ></span>
      5
      </span>
      OpenAI. (2024, April 12). <span class="italic"></span> Cookies shape as aliens [Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
   </li>
   <li class="text-body-color dark:text-dark-6 flex text-base">
      <span
         class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
         >
      <span
         class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
         ></span>
      6
      </span>
      OpenAI. (2024, April 12). <span class="italic"></span> Kids running to the spaceship [Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
   </li>
   <li class="text-body-color dark:text-dark-6 flex text-base">
      <span
         class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
         >
      <span
         class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
         ></span>
      7
      </span>
      OpenAI. (2024, April 12). <span class="italic"></span> Little girl crying[Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
   </li>
   <li class="text-body-color dark:text-dark-6 flex text-base">
      <span
         class="relative z-10 mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded text-base text-white"
         >
      <span
         class="bg-primary absolute top-0 left-0 z-[-1] h-full w-full -rotate-45 rounded"
         ></span>
      8
      </span>
      OpenAI. (2024, April 12). <span class="italic"></span> Man with rifle [Digital image]. URL: <a href="https://openart.ai/" class="link link-info"> https://openart.ai/ </a>
   </li>
 </ol>